.page-home{
    margin: 0px;
    overflow-x: hidden;
    @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');

    .cont-main-faixa1{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 44em;
        background-image: url('../../assets/images/Fundo\ F1\ \(HOME\).png');
        background-attachment: fixed;
    }
    .link-login{
        font-family: 'Baloo 2', cursive;
        text-decoration: none;
        margin-left: 3em;
        color: white;
        opacity: 100%;
    }
    
    .link-login:hover{
        color: #c7f7cb;
        transition: 0.5;   
    }
    
    .link-contato{
        font-family: 'Baloo Tamma 2', cursive;
        text-decoration: none;
        margin-right: 3em;
        opacity: 100%;
        color: white;
    }
    .link-contato:hover{
        color: #c7f7cb;
        transition: 0.5;   
    }


    .link-objetivo{
        font-family: 'Baloo 2', cursive;
        text-decoration: none;
        opacity: 100%;
        color: white;
    }
    .link-objetivo:hover{
        color: #c7f7cb;
        transition: 0.5;   
    }


    .cont-f1{
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        align-items: center;
        background-image: url('../../assets/images/Cabeçalho\ \(HOME\).png');

        width: 100vw;
        height: 5.5em;
    }
    .cont2-f1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 20em;
    }
    .nutrifit-text{
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;800&display=swap');
        font-family: 'Yatra One', sans-serif;
        font-size: 40px;
        font-weight:800;
        text-shadow: black 0em 0.1em 0.4em;
        color: white;
        line-height: 110px;
        margin-top: 1.4em;     
        position: absolute;
        cursor:pointer;
    }
    .nutrifit-text:hover{
        font-size: 43px;
        font: weight 900px;
    }
    .img-planta{
        background-image: url('../../assets/images/ICONE_FOLHA.png');
        background-size: 75%;
        background-repeat: no-repeat;
        height: 93px;
        width: 100px;
        margin-left: 13em;
        margin-top: 1em;
        cursor: pointer;
    }
    .img-planta:hover{
        height: 98px;
        width: 109px;
    }
    .cont-main-faixa2{
        display:flex;
        flex-direction: row;
        width: auto;
        height: 41.7em;
        background: linear-gradient(180deg, rgba(246, 246, 246, 0) 57.81%, rgba(173, 253, 180, 0.29) 97.4%);
    }
    .cont-f2{
        display: flex;
        flex-direction: row;
        width: 45em;
        height: auto;
    }
    .img-fundo{
        width: 500px;
        height: 28em;
        background-image: url('../../assets/images/Fundo\ verde\ f2.png');
        background-size: 100%;
        margin-top: 3em;
    }
    .img-f2{
        background-image: url('../../assets/images/Img\ f2.png');
        position: absolute;
        background-size: 100%;
        width: 500px;
        height: 20em;
        margin-top: 6em;
        margin-left: 4em;
    }
    .cont2-f2{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:auto;
        height: auto;
    }
    .text1-f2{
        color: #7EE087;
        font-size: 30px;
        width: 19em;
        font-family:'Bellota Text', sans-serif;
        margin-right: 10px;

    }
    .text2-f2{
        width: max-content;
        text-align: center;
        margin-top: 20px;
        font-family:'Bellota Text', sans-serif;
    }
    .text3-f2{
        width: max-content;
        text-align: center;
        margin-top: 30px;
        font-family:'Bellota Text', sans-serif;
    }
    .cont-main-faixa3{
        display: flex;
        flex-direction: row;
        height: 41.7em;
        width: auto;
        background-image: url('../../assets/images/Fundo\ Verde\ f3.png');
        background-size: 100%;
    }
    .cont-f3{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:auto;
        height: auto;
    }
    .cont-f3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 42em;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
    }
    .text-f3{
        text-align: center;
        font-family:'Bellota Text', sans-serif;
        color:#4E4D4D;
        font-size: 23px;
        line-height: 32px;
        font-weight: 100;
    }
    .img-f3{
        background-image: url('../../assets/images/Img\ f3\ homem.png');
        background-size: 100%;
        width: 30em;
        height: 26em;
    }
    .cont2-f3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 42em;
        height: auto;
    }
    .cont-main-faixa4{
        width: auto;
        height: 41.7em;
        background-image: url('../../assets/images/Fundo\ f4.png');
        background-size: 100%;
        padding-left: 3em;
        padding-right: 3em;
    }
    .cont-f4{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
        height: 20em;
    }
    .cont2-f4{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: 20em;
    }
    .img-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img1-f4.png');
        background-position: 100%;
    }
    .text-f4{
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;
        margin-left: 3em;
    }
    .img2-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img2-f4.png');
        background-position: 100%;
    }
    .text2-f4{
        
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;    
    }
    .img3-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img3-f4.png');
        background-position: 100%;
        margin-right: 2em;
    }
    .text3-f4{
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;
        margin-left: 4em;
    }
    .img4-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img4-f4.png');
        background-position: 100%;
    }
    .text4-f4{
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;
    }
    .cont-main-rodape{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 22em;
        background-color: #E8E7E7;
    }
    .cont-rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40em;
        height: auto;
    }
    .text-cont1{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
        color: #4E4D4D;
    }
    .titulo-cont1{
        font-family:'Andika New Basic', sans-serif;
        font-size: 30px;
        color: #7EE087;
        font-weight: 100;
        margin-bottom: 0.3em;
    }
    .cont2-rodape{
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40em;
        height: auto;
    }
    .titulo-cont2{
        color: #7EE087;
        font-family:'Bellota Text', sans-serif;
        text-align: center;
        font-weight: 100;
        margin-bottom: 0.3em;
    }
    .text2-cont1{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
        color: #4E4D4D;
    }
    .text3-cont1{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
        margin-bottom: 0.9em;
        color: #4E4D4D;
    }
    .cont3-rodape{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;      
        width: 40em;
        height: auto;
    }
    .titulo-cont3{
        font-family:'Andika New Basic', sans-serif;
        font-size: 30px;
        color: #7EE087;
        font-weight: 100;
        margin-bottom: 0.3em;
    }
    .text-cont3{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
        color: #4E4D4D;
        margin-bottom: 0.2em;
    }
    .text2-cont3{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
        color: #4E4D4D;
    }
    .cont-c3-rodape{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        height: 3em;
        width: 20em;
        border: #7EE087;
        margin-bottom: 2em;
    }
    .img-tw{
        margin-right:  0.8em;
    }
    
    @media screen and (max-width: 414px) {

        .img-f2{
            margin: 0px;
            width: 300px;
            height: 300px;
        }
        .text1-f2{
            margin-top: 10em;
        }

        .img-fundo{
            width: 100%;
        }

        .cont2-f2{
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .text1-f2{
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
        }

        .cont-main-faixa3{
            flex-direction: column-reverse;
            width: 100%;
            align-items: center;
            text-align: center;
            padding: 20px;
        }

        .text-f3{
            margin-bottom: 3em;
        }

        .cont2-f3{
            background-repeat: no-repeat;
        }
    
        .img-f3{
            width: 50%;
            background-repeat: no-repeat;
            background-position: 50px;
        }

        .cont-main-faixa4{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .img2-f4{
            width: 218px;
            height: 206px;
            margin-left: 1em;
        }

        .cont-f4, .cont2-f4{
            flex-direction: row-reverse;
        }

        .text3-f4{
            margin-left: 1em;
        }

        .img3-f4{
            width: 227px;
            height: 192px;
        }
        .img4-f4{
            display: none;
        }
        .text4-f4{
            display: none;
        }
        .text-f4{
            display: none;
        }
        .img-f4{
            display: none;
        }
        .img4-f4{
            flex-direction: column;
        }

        .cont-main-rodape{
            flex-direction: column;
            width: 100%;
            height: fit-content;
            align-items: center;
        }

        .cont-rodape{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .cont-c3-rodape{
            display: flex;
            justify-content: flex-end;
        }

        .cont2-rodape{
            margin: 0px;
        }

        .titulo-cont2{
            display: none;
        }

        .text3-cont1{
            display: none;
        }

        .text2-cont1{
            display: none;
        }
        
        .cont-rodape{
            margin-bottom: 1.5em;
        }

        .page-home{
            background-repeat: no-repeat;
        }
    }
    @media screen and (max-width:1920px) and(min-width:1500px) {
        .cont-main-faixa1{
            height: 67.5em;
        }
        .nutrifit-text{
            font-size: 50px;
        }
        .cont2-f1{
            height: 30em;
        }
        .img-planta{
            margin-top: 1em;
            margin-left: 15em;
        }
        .link-contato{
            font-size: 20px;
        }
        .link-login{
            font-size: 20px;
        }
        .link-objetivo{
            font-size: 20px;
        }
        .cont-f1{
            height: 8em;
        }
        .cont-main-faixa2{
            height: 67.5em;
        }
        .cont-main-faixa3{
            height: 67.5em;
        }
        .cont-main-faixa4{
            height: 67.5em;
        }
        .cont-main-rodape{
            height: 23em;
        }
        .cont-f2{       
            width: 54em;
            justify-content: flex-end;
            align-items: flex-start;
        }
        .img-fundo{
            width: 920px;
            height: 39em;
            background-size: 100%;
            margin-top: 3em;
        }
        .img-f2{
            background-image: url('../../assets/images/Img\ f2.png');
            position: absolute;
            background-size: 100%;
            width: 620px;
            height: 35em;
            margin-top: 10em;
        }
        .cont2-f2{
            margin-left: 4em;
        }
        .text1-f2{
            color: #7EE087;
            font-family:'Bellota Text', sans-serif;
            font-size: 36px;
            width: 19em;
            margin-bottom: 0.9em;
        }
        .text2-f2{
            width: max-content;
            font-family:'Bellota Text', sans-serif;    
            font-size: 20px;
            text-align: center;
            line-height: 1.2em;
            color: #4E4D4D;
        }
        .text3-f2{
            width: max-content;
            font-family:'Bellota Text', sans-serif;    
            font-size: 20px;
            line-height: 1.2em;
            color:#4E4D4D;
        }
        .cont-f3{
            width: 60em;
        }
        .text-f3{
            font-size: 26px;
            line-height: 1.4em;
        }
        .cont2-f3{
            justify-content: center;
            width: 50em;
        }
        .img-f3{
            width: 38em;
            height: 33em;
        }
        .cont-f4{
            height: 32em;
            padding: 0em 1.3em;
        }
        .img-f4{
            width: 360px;
            height: 360px;
            background-size: 100%;
        }
        .text-f4{
            font-size: 22px;
        }
        .img2-f4{
            width: 360px;
            height: 360px;
            background-size: 100%;
        }
        .text2-f4{
            font-size: 22px;
        }
        .cont2-f4{
            height: 32em;
        }
        .img3-f4{
            width: 360px;
            height: 360px;
            background-size: 100%;
        }
        .text3-f4{
            font-size: 22px;
        }
        .img4-f4{
            width: 360px;
            height: 360px;
            background-size: 100%;
        }
        .text4-f4{
            font-size: 22px;
        }
        .titulo-cont1{
            font-size: 37px;
            margin-bottom: 0.3em;
        }
        .titulo-cont2{
            font-size: 37px;
            margin-bottom: 0.5em;
        }
        .titulo-cont3{
            font-size: 37px;
            margin-bottom: 0.2em;
        }
        .text-cont1{
            font-size: 18px;
            color: #4E4D4D;
        }
        .text2-cont1{
            font-size: 20px;
            color: #4E4D4D;
        }
        .text3-cont1{
            font-size: 20px;
            margin-bottom: 0.7em;
            color: #4E4D4D;
        }
        .text-cont3{
            font-size: 18px;
            color: #4E4D4D;
        }
        .text2-cont3{
            font-size: 18px;
            color: #4E4D4D;
        }
    }
} 