@font-face {
    font-family: um;
    src: url(../../assets/fonts/SourceSans3-Regular.ttf);
}
@font-face {
    font-family: dois;
    src: url(../../assets/fonts/SourceSans3-Bold.ttf);
}


.page-adm{
    display: flex;
    margin: 0px;
    box-sizing: border-box;

    font-family: 'um';
    color:#000000;

    .seila {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .conteudo{
        min-width: 75.3vw;
        min-height: 92.5%;
        background-color: #EDEDED;
        padding: 4.7em 0em;

        display: flex;

        justify-content: center;
    }

    .caixa-busca {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #fff;
        padding: 0px 15px;
        box-shadow: 1px 1px 5px rgb(220, 220, 220);
        width: 60%;
        height: 2.5em;
    }
    .caixa-busca input {
        background: none;
        border: none;
        padding: 0px;
        width: 100%;
        font-size: small;
        font-family: um;
    }

    .caixa-busca img{
        height: 1em;
        width: auto;
        cursor: pointer;
        color: #000000;
    }

    .areacard{
        display: flex;
        flex-direction: row;
         
    }

    .espaçocards{
        margin-right: 20px;
        margin-top: 30px;
    }
    
    .agrupar2cards{
        display: flex;
        flex-direction: row; 
        justify-content:space-evenly;
        flex-wrap: wrap;
        height:  100%;
        background: linear-gradient(180deg, #ECECEC 0%, #F5F5F5 100%);
    }
    
    .Card{
        background: #5D5F5D;
        color: #fff;
        font-family: um;
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    
        width: 25em;
        height: 11em;
        
        
        margin-left: 10vh;
        margin-top: 3.5em;
        padding: 2em;
    }
    .Card:hover{
        background: #535553;

        transition: 0.1s;

        justify-content: center;
        align-items: center;
        
    }
    
    .aling1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .alturaxpeso{
        display: flex;
        flex-direction: row;
    }
    .peso{
        margin-left: 1em;
    }
    
    .agrup2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        align-items: flex-end;
    }
    .icons{
        display: flex;
        flex-direction: row;
    }
    
    .f{
        width: 1em;
        height: 1em;
    }
    
    .p{
        color: #ADFDB4;
    } 
}