.page-home{
    margin: 0px;
    overflow-x: hidden;
    @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');

    .cont-main-faixa1{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 41.7em;
        background-image: url('../../assets/images/Fundo\ F1\ \(HOME\).png');
        background-attachment: fixed;
    }
    .link-login{
        font-family: 'Baloo 2', cursive;
        text-decoration: none;
        margin-left: 3em;
        color: white;
        opacity: 100%;
    }
    
    .link-login:hover{
        color: #c7f7cb;
        transition: 0.5;   
    }
    
    .link-contato{
        font-family: 'Baloo Tamma 2', cursive;
        text-decoration: none;
        margin-right: 3em;
        opacity: 100%;
        color: white;
    }
    .link-objetivo{
        font-family: 'Baloo 2', cursive;
        text-decoration: none;
        opacity: 100%;
        color: white;

    }
    .cont-f1{
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        align-items: center;
        background-image: url('../../assets/images/Cabeçalho\ \(HOME\).png');

        width: 100vw;
        height: 5.5em;
    }
    .cont2-f1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 20em;
    }
    .nutrifit-text{
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;800&display=swap');
        font-family: 'Yatra One', sans-serif;
        font-size: 40px;
        font-weight:800;
        text-shadow: black 0em 0.1em 0.4em;
        color: white;
        line-height: 110px;
        margin-top: 1.4em;     
        position: absolute;
    }
    .img-planta{
        background-image: url('../../assets/images/ICONE_FOLHA.png');
        background-size: 75%;
        background-repeat: no-repeat;
        height: 93px;
        width: 100px;
        margin-left: 13em;
    }
    .cont-main-faixa2{
        display:flex;
        flex-direction: row;
        width: auto;
        height: 41.7em;
        background: linear-gradient(180deg, rgba(246, 246, 246, 0) 57.81%, rgba(173, 253, 180, 0.29) 97.4%);
    }
    .cont-f2{
        display: flex;
        flex-direction: row;
        width: 45em;
        height: auto;
    }
    .img-fundo{
        width: 500px;
        height: 28em;
        background-image: url('../../assets/images/Fundo\ verde\ f2.png');
        background-size: 100%;
        margin-top: 3em;
    }
    .img-f2{
        background-image: url('../../assets/images/Img\ f2.png');
        position: absolute;
        background-size: 100%;
        width: 500px;
        height: 20em;
        margin-top: 6em;
        margin-left: 4em;
    }
    .cont2-f2{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:auto;
        height: auto;
    }
    .text1-f2{
        color: #7EE087;
        font-size: 30px;
        width: 19em;
    }
    .text2-f2{
        width: 30em;
        text-align: center;
    }
    .text3-f2{
        width: 30em;
        text-align: center;
    }
    .cont-main-faixa3{
        display: flex;
        flex-direction: row;
        height: 41.7em;
        width: auto;
        background-image: url('../../assets/images/Fundo\ Verde\ f3.png');
        background-size: 100%;
    }
    .cont-f3{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:auto;
        height: auto;
    }
    .cont-f3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 42em;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
    }
    .text-f3{
        text-align: center;
        font-family:'Bellota Text', sans-serif;
        color:#4E4D4D;
        font-size: 23px;
        line-height: 32px;
        font-weight: 100;
    }
    .img-f3{
        background-image: url('../../assets/images/Img\ f3\ homem.png');
        background-size: 100%;
        width: 30em;
        height: 26em;
    }
    .cont2-f3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 42em;
        height: auto;
    }
    .cont-main-faixa4{
        width: auto;
        height: 41.7em;
        background-image: url('../../assets/images/Fundo\ f4.png');
        background-size: 100%;
        padding-left: 3em;
        padding-right: 3em;
    }
    .cont-f4{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
        height: 20em;
    }
    .cont2-f4{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: 20em;
    }
    .img-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img1-f4.png');
        background-position: 100%;
    }
    .text-f4{
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;
        margin-left: 3em;
    }
    .img2-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img2-f4.png');
        background-position: 100%;
    }
    .text2-f4{
        
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;    
    }
    .img3-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img3-f4.png');
        background-position: 100%;
        margin-right: 2em;
    }
    .text3-f4{
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;
        margin-left: 4em;
    }
    .img4-f4{
        width: 300px;
        height: 300px;
        background-image: url('../../assets/images/img4-f4.png');
        background-position: 100%;
    }
    .text4-f4{
        text-align: center;
        color:#4E4D4D;
        font-family:'Bellota Text', sans-serif;
    }
    .cont-main-rodape{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 28em;
        background-color: #E8E7E7;
    }
    .cont-rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40em;
        height: auto;
    }
    .text-cont1{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
    }
    .titulo-cont1{
        font-family:'Andika New Basic', sans-serif;
        font-size: 30px;
        color: #7EE087;
        font-weight: 100;
    }
    .cont2-rodape{
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40em;
        height: auto;
    }
    .titulo-cont2{
        color: #7EE087;
        font-family:'Bellota Text', sans-serif;
        text-align: center;
        font-weight: 100;
    }
    .text2-cont1{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
    }
    .text3-cont1{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
    }
    .cont3-rodape{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;      
        width: 40em;
        height: auto;
    }
    .titulo-cont3{
        font-family:'Andika New Basic', sans-serif;
        font-size: 30px;
        color: #7EE087;
        font-weight: 100;
    }
    .text-cont3{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
    }
    .text2-cont3{
        font-family:'Bellota Text', sans-serif;
        text-align: center;
    }
    .cont-c3-rodape{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        height: 3em;
        width: 20em;
        border: #7EE087;
        margin-bottom: 2em;
    }
    .img-tw{
        margin-right:  0.8em;
    }
    
    @media screen and (max-width: 414px) {

        .img-f2{
            width: fit-content;
        }

        .img-fundo{
            width: 100%;
        }

        .cont2-f2{
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .text1-f2{
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
        }

        .cont-main-faixa3{
            flex-direction: column-reverse;
            width: 100%;
            align-items: center;
            text-align: center;
            padding: 20px;
        }

        .text-f3{
            margin-bottom: 3em;
        }

        .cont2-f3{
            background: fixed;
            background-repeat: no-repeat;
        }
    
        .img-f3{
            width: 50%;
            background-repeat: no-repeat;
            background-position: 50px;
        }


    }
} 