@font-face {
    font-family: um;
    src: url(../../assets/fonts/SourceSans3-Regular.ttf);
}
@font-face {
    font-family: dois;
    src: url(../../assets/fonts/SourceSans3-Bold.ttf);
}

.page-container {
    input {
        border: none;
        border-radius: 5px;
        background-color: #f6f6f6;  
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-family: 'um';
    color:#000000;
    font-weight: bold;
    
    height: 62em;

    .cabecalho-page {

        display: flex;
        flex-direction: row;
        justify-content: center;

        background: linear-gradient(180deg, #D9FBCD 0%, #7EE087 0.01%, rgba(217, 217, 217, 0) 70.31%);

        width: 100vw;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .div-alinhar-logo {

    }

    .nutrifit-text-header {
        font-size: 1.3em;

        color: #000000;
    }

    .img-planta {

    }

    .img-planta-escurecer {

    }

    .container1-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        border-radius: 41px;

        background-color: rgb(236, 230, 240);

        width: 113em;
        height: 59em;
    }

    .img-card1 {
       background-image: url('../../assets/images/imgcardform.png');
       background-repeat: no-repeat;

       width: 43em;
       height: 59em;
    }

    .img-card1-esc {

    }

    .card2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        width: 70em;
    }

    .cabecalho-card2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

        width: 65em;
    }

    .alihar-cabecalho-card2 {

    }

    .div-text-emissao-card2 {
        padding-top: 1.5em;
    }

    .dataEmissao-card2 {

    }

    .div-titulo-cabecalho-card2{
        width: 15em;

        padding-bottom: 2em;
    }

    .titulo-cabecalho-card2 {

    }

    .div-inputs-infoPaciente {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 65em;
    }

    .container1-inputs-infoPaciente {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 17em;
    }

    .alinhar-textEinput-nome {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-nome {

    }

    .alinhar-input-nome {
      
    }

    .input-nome-infoPaciente {
        width: 15em;
    }

    .alinhar-textEinput-email {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-email {

    }

    .alinhar-input-email {

    }

    .input-email-infoPaciente {
        width: 15em;
    }

    .alinhar-textEinput-cpf {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-cpf {

    }

    .alinhar-input-cpf {

    }

    .input-cpf-infoPaciente {
        width: 15em;
    }

    .alinhar-textEinput-peso {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-peso {

    }

    .alinhar-input-peso {

    }

    .input-peso-infoPaciente {
        width: 15em;
    }

    .container2-inputs-infoPaciente {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 17.5em;
    }

    .alinhar-textEinput-altura {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-altura {

    }

    .alinhar-input-altura {

    }

    .input-altura-infoPaciente {
        width: 15em;
    }

    .alinhar-textEinput-tipoFisico {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-tipoFisico {

    }

    .alinhar-input-tipoFisico {

    }

    .input-tipoFisico-infoPaciente {
        width: 15em;
    }

    .alinhar-textEinput-telefone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-telefone {

    }

    .alinhar-input-telefone {

    }

    .input-telefone-infoPaciente {
        width: 15em;
    }

    .alinhar-textEinputs-genero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-genero {

    }

    .div-inputEtext-masc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 4em
    }

    .alinhar-input-masc {

    }

    .input-masc-infoPaciente {
        width: 1em;
      
    }

    .text-input-masc {

    }

    .div-inputEtext-fem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 4em
    }

    .alinhar-input-fem {
       
    }

    .input-fem-infoPaciente {
        width: 1em;
    }

    .text-input-fem {

    }

    .container-planodeNutricao {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

       height: 37em;
    }

    .cabecalho2-card2 {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 64.5em;
    }

    .alinhar-titulo-cabecalho2 {
       
    }

    .titulo-cabecalho2 {

    }

    .div-inputs-planodeNutricao {
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        width: 70em;
        height: 20em;

    }

    .container1-inputs-planodeNutricao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 15em;



    }

    .alinhar-textEinput-objetivo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-objetivo {

    }

    .alinhar-input-objetivo {

    }

    .input-objetivo-planodeNutricao {
        width: 15em;
    }

    .alinhar-textEinput-estrategia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 23em;
    }

    .text-input-estrategia {

    }

    .alinhar-input-estrategia {

    }

    .input-estrategia-planodeNutricao {
        width: 15em;
        height: 7em;
    }

    .container2-inputs-planodeNutricao {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        width: 30em;
        height: 15em; 
    
    }

    .text-input-habitosAlimentares {

    }

    .alinhar-input-habitosAlimentares {

    }

    .input-habitosAlimentares-planodeNutricao {
        width: 21em;
        height: 10em;
    }

    .alinhar-button-salvar {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 65em;
    }

    .button-salvar {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 3.5em;
        
        background: #f6f6f6;

        width: 10em;
        height: 3em;

        cursor: pointer;
    }

    .button-salvar:hover {
        width: 11em;
        

        transition: width, 0.5s;
    }
}

