.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45em;

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        background-color: #5D5F5D;
        color: #ffffff;
    
        height: 6em;
    
    }
    
    .alinhar-cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        width: 15em;
    }
    
    .container-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        height: 35em;
        
    }
    
    .sub-container-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        width: 120em;
    }
    
    .container-card-infoPaciente {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        background-color: #7EE087;
    
        border-radius: 2em;
        border: none;
    
        width: 18em;
        height: 33em;
    
    }
    
    .sub-container-infoPaciente {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        height: 30em;
    }
    
    .div-text-InfoPaciente {
        width: 12em;
    
        color: #ffffff;
        text-align: center;
    }
    
    .div-inputs-infoPaciente {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        height: 35em;
    }
    
    input {
        border: none;
        border-radius: 2em;
    }
    
    
    .div-genero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 12em;
    
    }
    
    .divAlinhar-masc {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
        width: 13em;
    }
    
    
    .divAlinhar-fem {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
        width: 5em;
    }
    
    
    .container-card-planoNutricao {
        display: flex;
        flex-direction: column;
    
        border-radius: 2em;
        border: none;
        
        background-color: #7EE087;
        height: 33em;
        width: 90em;
    }
    
    .sub-container-planoNutricao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        height: 25em;
    }
    
    .div-text-planoNutricao {
        text-align: center;
    }
    
    h1 {
        color: #ffffff;
    }
    
    .div-inputsP-planoNutricao {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    
}